<div class="box">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="go-bottom">
    <div class="form-group-fields">
    <div class="form-group-name">
      <!-- <input type="checkbox" name="name" (click)="checkboxCheck($event.target)"/> -->
      <input
        aria-describedby="nameHelp"
        type="text"
        id="name"
        name="name"
        class="form-control inputText"
        required
        [ngModel]="name"
        #nameCtrl="ngModel"
      />
      <label class="floating-label" htmlFor="name">
        Name* – <span class="grey">e.g. Jon Arbuckle</span></label
      >

      <span class="help-block" *ngIf="nameCtrl.invalid || nameCtrl.touched"
        >*Name is required</span
      >
    </div>
    <div class="form-group">
      <div class="opt-in-elements">
        <input
          type="checkbox"
          name="email"
          (click)="checkboxCheck($event.target)"
        />
        <p class="opt-in">
          Yes, I want to receive Garfield daily on Whatsapp
        </p>
      </div>
      <input
        aria-describedby="emailHelp"
        [disabled]="!emailChecked"
        type="text"
        id="email"
        name="email"
        class="form-control inputText"
        [ngModel]="email"
        required
        #emailCtrl="ngModel"
      />
      <label class="floating-label" htmlFor="email">
        Email address –
        <span class="grey">e.g. monday@lovers.com</span></label
      >
      <span class="help-block" *ngIf="emailCtrl.invalid && emailCtrl.touched"
        >*If selected, email address is required</span
      >
    </div>

    <div class="form-group">
      <div class="opt-in-elements">
        <input
          type="checkbox"
          name="phone"
          (click)="checkboxCheck($event.target)"
        />
        <p class="opt-in">
          Yes, I want to receive Garfield daily in my Email inbox
        </p>
      </div>
      <input
        aria-describedby="phoneNrHelp"
        [disabled]="!phoneChecked"
        type="text"
        id="phone"
        name="phone"
        class="form-control inputText"
        [ngModel]="phoneNumber"
        required
        #nameCtrl="ngModel"
      />
      <label class="floating-label" htmlFor="phone">
        Phone number – <span class="grey">format: 0612345678</span></label
      >
      <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched"
        >*If selected, phone number is required</span
      >
    </div>
    <small id="emailHelp" class="form-text text-muted"
      >Note: We'll never share your contact details with anyone else!</small
    >
  </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!(emailChecked || phoneChecked)"
    >
      Give me the Garfield!!
    </button>
    <small class="disable-message" *ngIf="!(emailChecked || phoneChecked)"> Note: You have to choose either email or Whatsapp to receive your daily Garfield</small>
  </form>
</div>
